<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
<style>*{box-sizing:border-box}body{background-color:#fff}#regForm{background-color:#fff;margin:100px auto;font-family:Raleway;padding:40px;width:70%;min-width:300px}h1{text-align:center}input{padding:10px;width:100%;font-size:17px;font-family:Raleway;border:1px solid #aaa}input.invalid{background-color:#fdd}.tab{display:none}button{background-color:#4caf50;color:#fff;border:none;padding:10px 20px;font-size:17px;font-family:Raleway;cursor:pointer}button:hover{opacity:.8}#prevBtn{background-color:#bbb}.step{height:15px;width:15px;margin:0 2px;background-color:#bbb;border:none;border-radius:50%;display:inline-block;opacity:.5}.step.active{opacity:1}.step.finish{background-color:#4caf50}
</style>
<body>

<form id="regForm" action="person/register"  method="post">
  <h1>Register:</h1>
  <!-- One "tab" for each step in the form: -->
  <form>
  <div class="tab">Personal information:
    <p><input placeholder="First name..." onkeyup='saveValue(this);' oninput="this.className = ''" name="fname"></p>
    <p><input placeholder="Last name..." onkeyup='saveValue(this);' oninput="this.className = ''" name="lname"></p>
	<p><input placeholder="Telephone..." onkeyup='saveValue(this);'  oninput="this.className = ''" name="telephone"></p>
  </div>
  <div class="tab">Address Information:
    <p><input placeholder="Street,..." onkeyup='saveValue(this);' oninput="this.className = ''" name="street"></p>
    <p><input placeholder="House number..." onkeyup='saveValue(this);' oninput="this.className = ''" name="house_number"></p>
	<p><input placeholder="Zip code..." onkeyup='saveValue(this);' oninput="this.className = ''" name="zip_code"></p>
	<p><input placeholder="City..." onkeyup='saveValue(this);' oninput="this.className = ''" name="city"></p>
  </div>
  <div class="tab">Payment Information:
    <p><input placeholder="Account owner" onkeyup='saveValue(this);' oninput="this.className = ''" name="account_owner"></p>
    <p><input placeholder="IBAN" onkeyup='saveValue(this);' oninput="this.className = ''" name="IBAN"></p>
  </div>
  <div class="tab">Done:
    <p id='resMessage'>Message: </p>
  </div>
  <div style="overflow:auto;">
    <div style="float:right;">
      <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
      <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
    </div>
  </div>
 <!-- Circles which indicates the steps of the form: -->
  <div style="text-align:center;margin-top:40px;">
    <span class="step"></span>
    <span class="step"></span>
    <span class="step"></span>
    <span class="step"></span>
  </div>
</form>

<script>
	//localStorage.setItem("activeTab", 0);
	var currentTab = localStorage.getItem("activeTab") ? localStorage.getItem("activeTab") == 3 ? 0 :   parseInt(localStorage.getItem("activeTab")) :  0; // Current tab is set to be the first tab (currentTab)
	console.log(currentTab);
	showTab(currentTab); // Display the current tab

	function showTab(n) {
	  // This function will display the specified tab of the form...
	  var x = document.getElementsByClassName("tab");
	  x[n].style.display = "block";
	  //... and fix the Previous/Next buttons:
	  if (n == 0) {
		document.getElementById("prevBtn").style.display = "none";
	  } else {
		document.getElementById("prevBtn").style.display = "inline";
	  }
	  if (n == (x.length - 2)) {
		document.getElementById("nextBtn").innerHTML = "Submit";
	 } else {
		document.getElementById("nextBtn").innerHTML = "Next";
	  }
	  //... and run a function that will display the correct step indicator:
	  fixStepIndicator(n)
	}

	function nextPrev(n , checkSubmit = true) {
		//console.log(n); //return false;
	  // This function will figure out which tab to display
	  var x = document.getElementsByClassName("tab");
	  // Exit the function if any field in the current tab is invalid:
	  if (n == 1 && !validateForm()) return false;
	  // Hide the current tab:
	  
	  // Increase or decrease the current tab by 1:
	  NewcurrentTab = currentTab + n;
	  // if you have reached the end of the form...
	  if (NewcurrentTab == x.length - 1 && checkSubmit) {
		 submitform();
		// ... the form gets submitted:
		//document.getElementById("regForm").submit();
		return false;
	  }
	  x[currentTab].style.display = "none";
	  currentTab = NewcurrentTab;
	  localStorage.setItem("activeTab", currentTab);
	  // Otherwise, display the correct tab:
	  showTab(currentTab);
	}

	function validateForm() {
	  // This function deals with validation of the form fields
	  var x, y, i, valid = true;
	  x = document.getElementsByClassName("tab");
	  y = x[currentTab].getElementsByTagName("input");
	  // A loop that checks every input field in the current tab:
	  for (i = 0; i < y.length; i++) {
		// If a field is empty...
		if (y[i].value == "") {
		  // add an "invalid" class to the field:
		  y[i].className += " invalid";
		  // and set the current valid status to false
		  valid = false;
		}
	  }
	  // If the valid status is true, mark the step as finished and valid:
	  if (valid) {
		document.getElementsByClassName("step")[currentTab].className += " finish";
	  }
	  return valid; // return the valid status
	}

	function fixStepIndicator(n) {
	  // This function removes the "active" class of all steps...
	  var i, x = document.getElementsByClassName("step");
	  for (i = 0; i < x.length; i++) {
		x[i].className = x[i].className.replace(" active", "");
	  }
	  //... and adds the "active" class on the current step:
	  x[n].className += " active";
	}

	//Save the value function - save it to localStorage as (ID, VALUE)
	function saveValue(e){ 
		var id = e.name;  // get the sender's id to save it . 
		var val = e.value; // get the value. 
		console.log(id , val );
		localStorage.setItem(id, val);// Every time user writing something, the localStorage's value will override . 
	}

	function getSavedValue  (v){
		if (!localStorage.getItem(v)) {
			return "";// You can change this to your defualt value. 
		}
		return localStorage.getItem(v);
	}
	var inputs = document.getElementsByTagName('input');
	for (var i = 0; i < inputs.length; i += 1) {
		inputs[i].value = getSavedValue(inputs[i].name);
	}

function submitform(){
	var http = new XMLHttpRequest();
	var url = 'person/register';
	var form = document.querySelector('#regForm');
	var kvpairs = [];
	for ( var i = 0; i < form.elements.length; i++ ) {
	   var e = form.elements[i];
	   kvpairs.push(encodeURIComponent(e.name) + "=" + encodeURIComponent(e.value));
	}
	var queryString = kvpairs.join("&");
	http.open('POST', url, true);
	http.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');

	http.onreadystatechange = function() {//Call a function when the state changes.
			console.log(http.responseText)
		if(http.readyState == 4 && http.status == 200) {
			document.getElementById("resMessage").innerHTML  = http.responseText;
			var x = document.getElementsByClassName("tab");
			console.log(http.responseText);
			nextPrev(1 , false);
		}
	}
	http.send(queryString);
}
</script>

</body>
</html>
